---
import SeoMeta from '../components/SeoMeta.astro';
import Analytics from '../components/Analytics.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SeoMeta />
    <Analytics />
  </head>
  <body>
    <slot />
  </body>
</html>
